	<div class="container">
		<h2 class="item-title">Item Title : <%= @item.title %></h2>
		<p> Item Description : <%= @item.description%></p>
		<div class="row-4">
			<h5>File Extension : <%= @item.avatar.file.extension %></h5>
		</div>
			
			<div class="row-4">
				<p>File url : <%= @item.avatar.path %></p>
			</div>
			
			<div class="row-4">
				<p>TinyURL : <%= ShortURL.shorten( @item.avatar.path , :tinyurl) %></p>
			</div> <br>

		<% if user_signed_in? %>

			<% if @item.user_id == current_user.id %>
					<%= link_to "Back", root_path ,  class: "btn-custom"  %> 
					<%= link_to "Edit", edit_item_path(@item),  class: "btn-custom" %> 
					<%= link_to "Delete", item_path(@item), method: :delete, data: { confirm: "Are you sure?" } ,  class: "btn-custom" %>
			<%end%>
		
		<% end %>


	</div>
