	<div class="container">
		<h2 class="item-title "><%= @item.title %></h2>
		<p><%= @item.description%></p>
		<div class="row-4">File Extension is: 
			<%= @item.avatar.file.extension %></div>
			
			<div class="row-4">File url:	<%= @item.avatar.path %></div>
			
			<div class="row-4">TinyURL: <%= ShortURL.shorten( @item.avatar.path , :tinyurl) %></div> <br>

		<% if user_signed_in? %>

			<% if @item.user_id == current_user.id %>
					<%= link_to "Back", root_path ,  class: "btn-custom"  %> 
					<%= link_to "Edit", edit_item_path(@item),  class: "btn-custom" %> 
					<%= link_to "Delete", item_path(@item), method: :delete, data: { confirm: "Are you sure?" } ,  class: "btn-custom" %>
			<%end%>
		
		<% end %>


	</div>
